@{
    ViewBag.Title = "Home Page";

}
<h2>Test</h2>
@Html.ActionLink("Logga in", "Login")
<h2>@ViewBag.Message</h2>
<form action="/Home/Newsletter" method="post">
    @Html.TextBox("email")
    <input type="submit" value="Singup" />
</form>
<br />
<br />
<br />


<div class="jumbotron">
    <h1>The front of backend</h1>

    <p class="lead">Här kommer du att få en inblick i det som sker bakom kulisserna:)</p>
    <h2>Registrera dig</h2>
    <form action="/Home/Registry" method="post">
        <h4>Email</h4> @Html.TextBox("email")
        <br />
        <h4>Password</h4> @Html.TextBox("password")
        <br />
        <br />
        <input type="submit" value="Registrera" />
    </form>

</div>
